<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
   
    <link rel = "icon" href="/icons8-to-do-16.png" type = "image/x-icon">
    <title style="text-transform: capitalize">Miren</title>
</head>
<body>
    <ul class="menu">
    <li><a href="/">Today</a></li>
    <li><a href="/work">work</a></li>
</ul>

    <h2><%= whatnow %></h2>
    <div class="main">
    
     <div>  
    <ul id="list-container">
        <% (Listnewitem).forEach((items) => { %>
        <% //for (let i = 0; i < Listnewitem.length; i++) { %>
            
        <li  class="member">
            
            <label class="toggler-wrapper style-8">
                <input type="checkbox" >
                <div class="toggler-slider">
                  <div class="toggler-knob"></div>
                </div>
                
              </label>
              <%=items.name%>
              <% //Listnewitem[i].name %>
            <!--<label class="labe" for="check-5"><input type="checkbox"><%// Listnewitem[i].name %></label>-->
            <form action="/delete" method="post" >
                <input type="text" name="listyname" value="<%=listname%>" id="nonedisplay" style="display: none;">
                <button  id="select" name="delete" value=<%= items._id %> class="noselect"><span class="text">Delete</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg></span></button>
            </form>
        </li>
        
        
        <% }) %>
        
    </ul>
</div> 
    
    <div>
        <form action="/"  method="post">
            <input id="number" type="number" value="" name="numid">
            <div class="user-box"><input type="text" placeholder="Add New" id="input-box" autocomplete="off" name="todo" >
            <button class="sub" name="listname" value="<%=listname%>" type="submit">Add</button>
        </form>
    </div>
</div>
</body>
</html>
